html {
  height: 100%;
}

em,
a {
  font-style: normal;
  color: #8dbd0c;
}

a {
  background: #34d0e7;
  color: #000;
  text-decoration: none;
}

div.slide-container {
  background-size: 100%;
  display: flex;
  align-items: center;
}

div.slide {
  flex: 1 0 100%;
  box-sizing: border-box;
  cursor: pointer;
  padding: 4%;
	text-align: center;
}

div.imageText {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* normally not good, but ok in context of full screen directional navigation */
:focus {
  outline: 0;
}

body.talk-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body.print-mode {
  background: #fff;
  color: #000;
  font-weight: normal;
  padding: 30px 20px;
}

body.print-mode div.sub-container {
  padding: 10px 20px;
  display: flex;
  flex-flow: row wrap;
}

ul.notes-list {
  display: inline-block;
  float: left;
  vertical-align: top;
}

body.print-mode div.slide-container {
  border: 1px solid #000;
}

body.jump-mode {
  padding: 10px;
}

body.jump-mode div.sub-container {
  display: inline-block;
  vertical-align: top;
  padding: 2px;
}

body.jump-mode div.sub-container .slide-container {
  overflow: hidden;
}

body.jump-mode div.slide-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

body.jump-mode div.slide-container:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
}


body {
  font-family: Open Sans, Helvetica Neue;
	background: #fefefe;
	background-size: 100%;
	color: #333;
  font-weight: 300;
	margin: 0;
	padding: 0;
	width: 100%;
}

h4 {
  position: relative; 
  top: -200px;
}

.sub-container img {
  width: 50%;
}

.sub-container img + img {
  display: none;
}

h1, h2, h3, h4, h5, p {
	font-weight: inherit;
}

/* Red */ h1 { color: #31b44e; }
/* Orange */ h2 { color: #f2790f; }
/* Green */ h3 { color: #c6e555; }
/* Blue */ h4 { color: #144673; }
/* Gruber Blue */ h5 { color: #4a525a; }
/* Light Blue */  h6 { color: #2685bf; }

pre { text-align: left !important; }

a {
	font-style: normal;
	background: #31b44e;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	padding: 5px 9px;
}

img.border {
	border: 10px solid #fefefe;
  box-shadow: 0 2px 5px #777;
}

div {
	display: block;
	width: auto;
	height: auto;
}

li {
	text-align: left;
	line-height: 1.618em;
}